{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="well">
    {% for quiz in list_of_quiz %}
        <form action="/quiz/{{ quiz.id }}" method="get">
            <h3>{{ quiz.title }}</h3>
            <<button type="submit" class="btn btn-primary btn-md">Go</button>
        </form>
    {% endfor %}
    </div>
    {% if not tmp_user.is_anonymous  %}
    <form action="/create_quiz/" method="get">
        <button type="submit" class="btn btn-primary btn-md">Create New{{ user }}</button>
    </form>
    <form action="/users_quiz/" method="get">
        <button type="submit" class="btn btn-primary btn-md">Your quiz</button>
    </form>
    {% endif %}
</div>
{% endblock %}